@use '../../variables';
.containerFaceSnap {
    max-width: 50%;
    border: 3px solid #333;
    margin: variables.$margin_face_snap;
    padding: variables.$padding_face_snap;
    border-radius: 15px;
    .faceSnapHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-family: variables.$font_family_titre;
            display: inline-block;
            font-size: 20px;
        }
        span {
            font-size: 13px;
            color: red;
        }
    }
    .faceSnapBody {
        img {
            max-width: 300px;
        }
        button {
            background-color: white;
            color: #000;
        }
    }
}